<link rel="stylesheet" href="/css/header.css">
 

   
    
        <div class="topnav">
        <%if(locals.user.identity[0]==='s'){%>
            <a href="/stud/enter"  class="home">Home</a>

            
            <a href="/stud/profile/<%=locals.user._id%>" class="user">
                
                <%= locals.user.name %>   
            </a>
            <a href="/stud/sign-out" class="signout">Sign Out</a>
            <%}else{%>
                <%if(locals.user.identity[0]==="p" && locals.user.hod==="hod"){%>
                    
                    <a href="/prof/hod" style="text-decoration: none;">Hod</a>
                    
                <%}%>
                <a href="/prof/enter"  class="home">Home</a>
                <a href="/prof/profile/<%=locals.user._id%>" class="user">

                    <%= locals.user.name %>   
                </a>
                <a href="/prof/sign-out" class="signout">Sign Out</a>
        <%}%>
            <!-- <a href="#">Users</a> -->
            
      
            
        </div>
       
    
    