<!-- <form action="/create" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
</form> -->
<link rel="stylesheet" href="/css/sign_in.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<h1 class="letschat"></h1><span class="text">Online Project Assignment</span> </h1>
<div class="login-page">
  <h1 class="letschat"><span class="text">Sign In as <a href="/" style="color: #143661;text-decoration-line: revert;">Student</a></span> </h1>
    <div class="form">
      <form class="register-form" action="/prof/create" method="POST">
        <input type="email" name="email" placeholder="Email" autocomplete="off" required>
        <input type="text" name="name" placeholder="Your Name" required>
       
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button>Sign Up</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" action="/prof/create-session" method="POST">
        <input type="email" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>
