body
{
  margin: 0;
  padding: 0;
  font-size: larger;
  font-family: 'fira code';
  background-color: #142850;
}
.topnav{
  overflow: hidden;
  background-color:#00909e;
  margin-bottom: 10px;
  padding-left: 12%;
  border: solid#d7d7e6;
  border-radius: 21px;
    
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:x-large;
    margin-left: 14%;
    /* font-style: italic;
    font-family: cursive; */
  }
  
  .topnav a:hover {
    background-color: #27496d;
    /* color: black; */
  }
  
  .home{
      text-align: left;
  }

