@import url(https://fonts.googleapis.com/css?family=Roboto:300);


:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #667aff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border: solid #667aff;
  border-radius: 21px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: black;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#e1efe2;
  width: 100%;
  border: 0;
  padding: 15px;
  color:#667aff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(186, 194, 186);
}
.form .message {
  margin: 15px 0 0;
  color: #FFFFFF;
  font-size: large;
}
.form .message a {
  color: rgb(236, 245, 238);
  font-size: large;
  text-decoration:underline;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  /* background: #667aff;/* fallback for old browsers
  background: -webkit-linear-gradient(right,#667aff, #667aff);
  background: -moz-linear-gradient(right, #667aff, #667aff);
  background: -o-linear-gradient(right,#667aff, #667aff);
  background: linear-gradient(to left,#667aff, #667aff);
  */
  background: var(--light-color);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.letschat
{
  margin-left:0;
  
  
  text-align: center;
  background-color:#667aff;
  border: blueviolet solid;
  border-radius: 21px;
}
.letschat .text{
  color: white;
  margin-top: 10px;
  font-size: 50px;
}